[submodule "lib/log"]
	path = lib/log
	url = ../logtools.git
[submodule "lib/xptools"]
	path = lib/xptools
	url = ../xptools.git
[submodule "lib/scpi-server-tools"]
	path = lib/scpi-server-tools
	url = ../scpi-server-tools.git
